EJERCICIOS/SESION 7/Ejercicio2.json
[{"id":"cc8ea575.3b31b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"99d83dfd.f9872","type":"worldmap","z":"cc8ea575.3b31b8","name":"","lat":"40.4167754","lon":"\t-3.7037902","zoom":"6","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","hiderightclick":"true","coords":"none","showgrid":"false","path":"","x":1170,"y":420,"wires":[]},{"id":"1e50580d.524258","type":"function","z":"cc8ea575.3b31b8","name":"","func":"var array = msg.payload.split('|');\n\nvar user = array[0];\nvar lat = array[1];\nvar lon = array[2];\nvar n_sats = array[3];\nvar n_hdop = array[4];\n\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:user, \n    icon:\"car\", \n    color:\"#000\"\n};\n\nvar sats = { payload: n_sats };\nvar hdop = { payload: n_hdop };\n\nreturn [msg, sats, hdop];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":420,"wires":[["99d83dfd.f9872","275b8742.7fe758"],["6d738a8.9f3fd74"],["5ee45098.0f027"]]},{"id":"275b8742.7fe758","type":"worldmap-tracks","z":"cc8ea575.3b31b8","name":"","depth":"20","layer":"combined","smooth":false,"x":1010,"y":380,"wires":[["99d83dfd.f9872"]]},{"id":"84712b7b.716048","type":"ui_iframe","z":"cc8ea575.3b31b8","group":"f11aa46b.028df8","name":"","order":3,"width":"18","height":"12","url":"../worldmap","origin":"*","scale":100,"x":1170,"y":360,"wires":[[]]},{"id":"d17532e4.ee29a","type":"mqtt in","z":"cc8ea575.3b31b8","name":"","topic":"gps","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":670,"y":420,"wires":[["1e50580d.524258"]]},{"id":"6d738a8.9f3fd74","type":"ui_text","z":"cc8ea575.3b31b8","group":"f11aa46b.028df8","order":1,"width":"9","height":"1","name":"","label":"Satelites","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":500,"wires":[]},{"id":"5ee45098.0f027","type":"ui_text","z":"cc8ea575.3b31b8","group":"f11aa46b.028df8","order":2,"width":"9","height":"1","name":"","label":"Precisión","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":560,"wires":[]},{"id":"f11aa46b.028df8","type":"ui_group","name":"Map","tab":"35c83f0f.c817","order":4,"disp":true,"width":"18","collapse":false},{"id":"35aa3e77.40a132","type":"mqtt-broker","name":"Raspberry","broker":"magan.now-dns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"35c83f0f.c817","type":"ui_tab","name":"MQTT Arduino Car","icon":"dashboard","disabled":false,"hidden":false}]