EJERCICIOS/SESION 7/Ejercicio1.json
[{"id":"cc8ea575.3b31b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6ae115da.a0d98c","type":"ui_button","z":"cc8ea575.3b31b8","name":"Right","group":"3e60096e.f77826","order":6,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"R","payloadType":"str","topic":"","topicType":"str","x":390,"y":280,"wires":[["f65d5d40.17087"]]},{"id":"f65d5d40.17087","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":640,"y":280,"wires":[]},{"id":"d8927c88.84626","type":"ui_button","z":"cc8ea575.3b31b8","name":"Left","group":"3e60096e.f77826","order":4,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"L","payloadType":"str","topic":"","topicType":"str","x":390,"y":340,"wires":[["d84657ed.3a7c88"]]},{"id":"d84657ed.3a7c88","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":640,"y":340,"wires":[]},{"id":"497eb494.0bc09c","type":"ui_button","z":"cc8ea575.3b31b8","name":"Stop","group":"3e60096e.f77826","order":5,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"S","payloadType":"str","topic":"","topicType":"str","x":390,"y":400,"wires":[["46efffb0.67b8b"]]},{"id":"46efffb0.67b8b","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":640,"y":400,"wires":[]},{"id":"c1a5c19c.a7753","type":"ui_button","z":"cc8ea575.3b31b8","name":"Back","group":"3e60096e.f77826","order":8,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"B","payloadType":"str","topic":"","topicType":"str","x":390,"y":460,"wires":[["cf0f518.68206b"]]},{"id":"cf0f518.68206b","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":640,"y":460,"wires":[]},{"id":"387741eb.0bb04e","type":"ui_button","z":"cc8ea575.3b31b8","name":"Advance","group":"3e60096e.f77826","order":2,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"A","payloadType":"str","topic":"","topicType":"str","x":400,"y":220,"wires":[["d1bdf1ca.a301"]]},{"id":"d1bdf1ca.a301","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":640,"y":220,"wires":[]},{"id":"f361ca35.62bbb8","type":"ui_button","z":"cc8ea575.3b31b8","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Manual","tooltip":"","color":"","bgcolor":"","icon":"","payload":"M","payloadType":"str","topic":"","topicType":"str","x":1260,"y":220,"wires":[["b5fc292e.8a0ad8"]]},{"id":"b5fc292e.8a0ad8","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1520,"y":220,"wires":[]},{"id":"5afad639.7331a8","type":"ui_button","z":"cc8ea575.3b31b8","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Avoid Obstacle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"O","payloadType":"str","topic":"","topicType":"str","x":1280,"y":280,"wires":[["425fa75b.700008"]]},{"id":"425fa75b.700008","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1520,"y":280,"wires":[]},{"id":"3b457848.84c548","type":"ui_button","z":"cc8ea575.3b31b8","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Line Tracker","tooltip":"","color":"","bgcolor":"","icon":"","payload":"T","payloadType":"str","topic":"","topicType":"str","x":1270,"y":340,"wires":[["b77ec19d.10c54"]]},{"id":"b77ec19d.10c54","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1520,"y":340,"wires":[]},{"id":"b7a5fa77.846538","type":"ui_button","z":"cc8ea575.3b31b8","name":"Less","group":"741cc39b.b7d35c","order":3,"width":"3","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-minus","payload":"J","payloadType":"str","topic":"","topicType":"str","x":810,"y":320,"wires":[["bbf7cd2e.e8e8"]]},{"id":"cd73499b.837118","type":"ui_button","z":"cc8ea575.3b31b8","name":"More","group":"741cc39b.b7d35c","order":2,"width":"3","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-plus","payload":"G","payloadType":"str","topic":"","topicType":"str","x":810,"y":260,"wires":[["e1d6fd36.1f1"]]},{"id":"e1d6fd36.1f1","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1090,"y":260,"wires":[]},{"id":"bbf7cd2e.e8e8","type":"mqtt out","z":"cc8ea575.3b31b8","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1090,"y":320,"wires":[]},{"id":"f4d8315d.fd80c","type":"ui_gauge","z":"cc8ea575.3b31b8","name":"","group":"741cc39b.b7d35c","order":1,"width":"6","height":"4","gtype":"gage","title":"Velocidad","label":"","format":"{{value}}","min":"80","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":420,"wires":[]},{"id":"4ea02803.d14788","type":"mqtt in","z":"cc8ea575.3b31b8","name":"","topic":"speed","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":810,"y":420,"wires":[["f4d8315d.fd80c"]]},{"id":"3e60096e.f77826","type":"ui_group","name":"Manual Control","tab":"35c83f0f.c817","order":1,"disp":true,"width":"6","collapse":false},{"id":"35aa3e77.40a132","type":"mqtt-broker","name":"Raspberry","broker":"magan.now-dns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3d5111e2.27ff3e","type":"ui_group","name":"Mode Control","tab":"35c83f0f.c817","order":3,"disp":true,"width":"6","collapse":false},{"id":"741cc39b.b7d35c","type":"ui_group","name":"Speed Control","tab":"35c83f0f.c817","order":2,"disp":true,"width":"6","collapse":false},{"id":"35c83f0f.c817","type":"ui_tab","name":"MQTT Arduino Car","icon":"dashboard","disabled":false,"hidden":false}]