EJERCICIOS/SESION 7/Ejercicio3.json
[{"id":"cc8ea575.3b31b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ea6756f.b1226a8","type":"function","z":"cc8ea575.3b31b8","name":"","func":"var array = msg.payload.split('|');\n\nvar ax = array[0];\nvar ay = array[1];\nvar az = array[2];\nvar gx = array[3];\nvar gy = array[4];\nvar gz = array[5];\n\nvar a_x = { payload: ax };\nvar a_y = { payload: ay };\nvar a_z = { payload: ay };\n\nvar g_x = { payload: gx };\nvar g_y = { payload: gy };\nvar g_z = { payload: gy };\n\nreturn [a_x, a_y, a_z, a_x, a_y, a_z];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":440,"wires":[["3f2123a.b33d6dc"],["206d5b94.dce444"],["3f44d1f0.f8f15e"],["fb1ff78f.573438"],["4cb7e569.68413c"],["2926ab3d.f49d84"]]},{"id":"e735f2dc.0f115","type":"mqtt in","z":"cc8ea575.3b31b8","name":"","topic":"gyro","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":670,"y":440,"wires":[["ea6756f.b1226a8"]]},{"id":"206d5b94.dce444","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":2,"width":"6","height":"3","name":"","label":"AY","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":380,"wires":[]},{"id":"3f44d1f0.f8f15e","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":3,"width":"6","height":"3","name":"","label":"AZ","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":420,"wires":[]},{"id":"3f2123a.b33d6dc","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":1,"width":"6","height":"3","name":"","label":"AX","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":340,"wires":[]},{"id":"fb1ff78f.573438","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":4,"width":"6","height":"3","name":"","label":"GX","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":460,"wires":[]},{"id":"4cb7e569.68413c","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":5,"width":"6","height":"3","name":"","label":"GY","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":500,"wires":[]},{"id":"2926ab3d.f49d84","type":"ui_text","z":"cc8ea575.3b31b8","group":"87b457c9.5a89b8","order":6,"width":"6","height":"3","name":"","label":"GZ","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":540,"wires":[]},{"id":"35aa3e77.40a132","type":"mqtt-broker","name":"Raspberry","broker":"magan.now-dns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"87b457c9.5a89b8","type":"ui_group","name":"Giroscopio","tab":"35c83f0f.c817","order":5,"disp":true,"width":"18","collapse":false},{"id":"35c83f0f.c817","type":"ui_tab","name":"MQTT Arduino Car","icon":"dashboard","disabled":false,"hidden":false}]