CÓDIGO FINAL/NODE-RED/flows.json
[{"id":"44d2ec9b.15e294","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78626924.0b7768","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"speed","qos":"1","datatype":"auto","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":730,"y":160,"wires":[["14d94449.0a210c"]]},{"id":"14d94449.0a210c","type":"debug","z":"44d2ec9b.15e294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":160,"wires":[]},{"id":"a69c76b5.b1b2e8","type":"ui_button","z":"44d2ec9b.15e294","name":"Right","group":"3e60096e.f77826","order":6,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"R","payloadType":"str","topic":"","topicType":"str","x":290,"y":380,"wires":[["fbd93d4e.852f9"]]},{"id":"fbd93d4e.852f9","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":540,"y":380,"wires":[]},{"id":"251df8f1.8c1d28","type":"ui_button","z":"44d2ec9b.15e294","name":"Left","group":"3e60096e.f77826","order":4,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"L","payloadType":"str","topic":"","topicType":"str","x":290,"y":440,"wires":[["61bef97f.92e858"]]},{"id":"61bef97f.92e858","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":540,"y":440,"wires":[]},{"id":"d994833a.95ad7","type":"ui_button","z":"44d2ec9b.15e294","name":"Stop","group":"3e60096e.f77826","order":5,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"S","payloadType":"str","topic":"","topicType":"str","x":290,"y":500,"wires":[["eec59cad.f0aff"]]},{"id":"eec59cad.f0aff","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":540,"y":500,"wires":[]},{"id":"74546c86.967c94","type":"ui_button","z":"44d2ec9b.15e294","name":"Back","group":"3e60096e.f77826","order":8,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"B","payloadType":"str","topic":"","topicType":"str","x":290,"y":560,"wires":[["a63bd22.d99cf3"]]},{"id":"a63bd22.d99cf3","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":540,"y":560,"wires":[]},{"id":"fa654d7b.f9b67","type":"ui_button","z":"44d2ec9b.15e294","name":"Advance","group":"3e60096e.f77826","order":2,"width":"2","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"A","payloadType":"str","topic":"","topicType":"str","x":300,"y":320,"wires":[["48e5e7ff.af7838"]]},{"id":"48e5e7ff.af7838","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":540,"y":320,"wires":[]},{"id":"bbafd764.5bb8b8","type":"ui_button","z":"44d2ec9b.15e294","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Manual","tooltip":"","color":"","bgcolor":"","icon":"","payload":"M","payloadType":"str","topic":"","topicType":"str","x":1160,"y":320,"wires":[["2fb886bf.6fd54a"]]},{"id":"2fb886bf.6fd54a","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1420,"y":320,"wires":[]},{"id":"1c578f11.64d201","type":"ui_button","z":"44d2ec9b.15e294","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Avoid Obstacle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"O","payloadType":"str","topic":"","topicType":"str","x":1180,"y":380,"wires":[["2c57a440.45111c"]]},{"id":"2c57a440.45111c","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1420,"y":380,"wires":[]},{"id":"2bc26e38.58f7b2","type":"ui_button","z":"44d2ec9b.15e294","name":"","group":"3d5111e2.27ff3e","order":0,"width":"6","height":"2","passthru":false,"label":"Line Tracker","tooltip":"","color":"","bgcolor":"","icon":"","payload":"T","payloadType":"str","topic":"","topicType":"str","x":1170,"y":440,"wires":[["a5ed9f45.4abf7"]]},{"id":"a5ed9f45.4abf7","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":1420,"y":440,"wires":[]},{"id":"a14e3dab.d83d1","type":"ui_button","z":"44d2ec9b.15e294","name":"Less","group":"741cc39b.b7d35c","order":3,"width":"3","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-minus","payload":"J","payloadType":"str","topic":"","topicType":"str","x":710,"y":420,"wires":[["4e8f52e7.86127c"]]},{"id":"aceb9db0.7bdec","type":"ui_button","z":"44d2ec9b.15e294","name":"More","group":"741cc39b.b7d35c","order":2,"width":"3","height":"2","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-plus","payload":"G","payloadType":"str","topic":"","topicType":"str","x":710,"y":360,"wires":[["8a931fa3.173cb"]]},{"id":"8a931fa3.173cb","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":990,"y":360,"wires":[]},{"id":"4e8f52e7.86127c","type":"mqtt out","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"35aa3e77.40a132","x":990,"y":420,"wires":[]},{"id":"ea089365.bd831","type":"ui_gauge","z":"44d2ec9b.15e294","name":"","group":"741cc39b.b7d35c","order":1,"width":"6","height":"4","gtype":"gage","title":"Velocidad","label":"","format":"{{value}}","min":"80","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":520,"wires":[]},{"id":"d75dff1a.54ca3","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"speed","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":710,"y":520,"wires":[["ea089365.bd831"]]},{"id":"e4126687.961208","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"drive","qos":"1","datatype":"auto","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":730,"y":120,"wires":[["40001b30.484ac4"]]},{"id":"40001b30.484ac4","type":"debug","z":"44d2ec9b.15e294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":120,"wires":[]},{"id":"d9b81bab.82a6f8","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"mode","qos":"1","datatype":"auto","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":730,"y":200,"wires":[["44571424.176b5c"]]},{"id":"44571424.176b5c","type":"debug","z":"44d2ec9b.15e294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":200,"wires":[]},{"id":"9b2a29cc.3c53a8","type":"worldmap","z":"44d2ec9b.15e294","name":"","lat":"40.4167754","lon":"\t-3.7037902","zoom":"6","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","hiderightclick":"true","coords":"none","showgrid":"false","path":"","x":790,"y":720,"wires":[]},{"id":"1b24ad2f.198453","type":"function","z":"44d2ec9b.15e294","name":"","func":"var array = msg.payload.split('|');\n\nvar user = array[0];\nvar lat = array[1];\nvar lon = array[2];\nvar n_sats = array[3];\nvar n_hdop = array[4];\n\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:user, \n    icon:\"car\", \n    color:\"#000\"\n};\n\nvar sats = { payload: n_sats };\nvar hdop = { payload: n_hdop };\n\nreturn [msg, sats, hdop];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":720,"wires":[["9b2a29cc.3c53a8","de5c4044.d4e0f"],["ff0f89b6.bf8308"],["2700e3ea.41dd1c"]]},{"id":"de5c4044.d4e0f","type":"worldmap-tracks","z":"44d2ec9b.15e294","name":"","depth":"20","layer":"combined","smooth":false,"x":630,"y":680,"wires":[["9b2a29cc.3c53a8"]]},{"id":"198bc570.d0cf5b","type":"ui_iframe","z":"44d2ec9b.15e294","group":"f11aa46b.028df8","name":"","order":3,"width":"18","height":"12","url":"../worldmap","origin":"*","scale":100,"x":790,"y":660,"wires":[[]]},{"id":"39ac05da.f31e2a","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"gps","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":290,"y":720,"wires":[["1b24ad2f.198453"]]},{"id":"ff0f89b6.bf8308","type":"ui_text","z":"44d2ec9b.15e294","group":"f11aa46b.028df8","order":1,"width":"9","height":"1","name":"","label":"Satelites","format":"{{msg.payload}}","layout":"col-center","x":780,"y":800,"wires":[]},{"id":"2700e3ea.41dd1c","type":"ui_text","z":"44d2ec9b.15e294","group":"f11aa46b.028df8","order":2,"width":"9","height":"1","name":"","label":"Precisión","format":"{{msg.payload}}","layout":"col-center","x":780,"y":860,"wires":[]},{"id":"f3d8ca86.cba5a8","type":"function","z":"44d2ec9b.15e294","name":"","func":"var array = msg.payload.split('|');\n\nvar ax = array[0];\nvar ay = array[1];\nvar az = array[2];\nvar gx = array[3];\nvar gy = array[4];\nvar gz = array[5];\n\nvar a_x = { payload: ax };\nvar a_y = { payload: ay };\nvar a_z = { payload: ay };\n\nvar g_x = { payload: gx };\nvar g_y = { payload: gy };\nvar g_z = { payload: gy };\n\nreturn [a_x, a_y, a_z, a_x, a_y, a_z];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":760,"wires":[["d3c29807.a96508"],["a98ec569.b59cf8"],["a75affd8.de073"],["39aaa2c0.6dca4e"],["86f6d2d9.b643e"],["d3bea8d9.f14fb8"]]},{"id":"e296ae0e.1d817","type":"mqtt in","z":"44d2ec9b.15e294","name":"","topic":"gyro","qos":"1","datatype":"utf8","broker":"35aa3e77.40a132","nl":false,"rap":true,"rh":0,"x":1110,"y":760,"wires":[["f3d8ca86.cba5a8"]]},{"id":"a98ec569.b59cf8","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":2,"width":"6","height":"3","name":"","label":"AY","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":700,"wires":[]},{"id":"a75affd8.de073","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":3,"width":"6","height":"3","name":"","label":"AZ","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":740,"wires":[]},{"id":"d3c29807.a96508","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":1,"width":"6","height":"3","name":"","label":"AX","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":660,"wires":[]},{"id":"39aaa2c0.6dca4e","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":4,"width":"6","height":"3","name":"","label":"GX","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":780,"wires":[]},{"id":"86f6d2d9.b643e","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":5,"width":"6","height":"3","name":"","label":"GY","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":820,"wires":[]},{"id":"d3bea8d9.f14fb8","type":"ui_text","z":"44d2ec9b.15e294","group":"87b457c9.5a89b8","order":6,"width":"6","height":"3","name":"","label":"GZ","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":860,"wires":[]},{"id":"35aa3e77.40a132","type":"mqtt-broker","name":"Raspberry","broker":"magan.now-dns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3e60096e.f77826","type":"ui_group","name":"Manual Control","tab":"35c83f0f.c817","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d5111e2.27ff3e","type":"ui_group","name":"Mode Control","tab":"35c83f0f.c817","order":3,"disp":true,"width":"6","collapse":false},{"id":"741cc39b.b7d35c","type":"ui_group","name":"Speed Control","tab":"35c83f0f.c817","order":2,"disp":true,"width":"6","collapse":false},{"id":"f11aa46b.028df8","type":"ui_group","name":"Map","tab":"35c83f0f.c817","order":4,"disp":true,"width":"18","collapse":false},{"id":"87b457c9.5a89b8","type":"ui_group","name":"Giroscopio","tab":"35c83f0f.c817","order":5,"disp":true,"width":"18","collapse":false},{"id":"35c83f0f.c817","type":"ui_tab","name":"MQTT Arduino Car","icon":"dashboard","disabled":false,"hidden":false}]